@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(177, 177, 177);
    font-family: "Roboto";
}

.settings{
    text-align: center;
    padding: 10px;
    background-color: rgb(228, 228, 228);
    width: 50%;
    margin-bottom: 5px;
    margin-left: 25%;
    border-radius: 50px;
}

.visual{
    display: block;
}

.slider-container{
    padding: 10px;
}

.slider{
    width: 200px;
}

.input{
    text-align: center;
    padding: 50px;
    background-color: rgb(228, 228, 228);
    width: 60%;
    margin: auto;
    border-radius: 100px;
}

input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border-width: 3px;
    border-right-width: 0px;
    padding: 10px;
    border-color: rgb(56, 56, 56);
    border-radius: 50px 0px 0px 50px;
}

input[type=text]:focus{
    outline: solid rgb(120, 125, 130);
}

input[type=submit] {
    background-color: rgb(197, 206, 255);
    padding: 10px;
    width: 40%;
    border: solid;
    border-width: 3px;
    border-radius: 0px 50px 50px 0px; 
}

input[type=submit]:hover {
    background-color: rgb(146, 159, 223);
}

input[type=submit]:active {
    background-color: rgb(75, 89, 161);
}

.list-container{
    margin: 5px;
    margin-left: 5%;
    padding: 15px;
    background-color: rgb(228, 228, 228);
    border-radius: 50px;
    width: 90%;
}

.label{
    margin-left: 3%;
    padding: 10px;
}

.items{
    width: 80%;
    margin: auto;
    display: flexbox;
    flex-flow: wrap;
}

.item{
    text-align: center;
    display: inline-block;
    background-color: rgb(197, 206, 255);
    min-width: 5%;
    margin: 1%;
    padding: 1%;
    border-radius: 50px;
    border: solid;
}

.item:hover{
    background-color: rgb(146, 159, 223);
}

.item:active{
    background-color: rgb(75, 89, 161);
}

.done{
    text-align: center;
    display: inline-block;
    background-color: rgb(255, 250, 197);
    min-width: 5%;
    margin: 1%;
    padding: 1%;
    border-radius: 50px;
    border: solid;
}

.done:hover{
    background-color: rgb(223, 221, 146);
}

.done:active{
    background-color: rgb(161, 154, 75);
}

.no-item{
    color:rgb(70, 70, 70);
    text-align: center;
}

.copy-paste-container{
    border-radius: 50px;
    width: 90%;
    margin: 5px;
    padding: 15px;
    background-color: rgb(228, 228, 228);
    margin-left: 5%;
}

.copy-paste{
    display: block;
    width: 80%;
    margin: auto;
    padding-bottom: 15px;
}

.delete{
    display: block;
    width: 30%;
    margin: auto;
    padding: 30px;
    background-color: rgb(255, 166, 63);
    border-radius: 50px;
    border-width: 3px;
    border: solid;
}

.delete:hover{
    background-color: rgb(216, 127, 25);
}

.delete:active{
    background-color: rgb(163, 94, 15);
}