@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(177, 177, 177);
    font-family: "Roboto";
}

.settings-container{
    text-align: center;
}

.settings{
    display: inline-block;
    text-align: center;
    padding: 10px;
    background-color: rgb(228, 228, 228);
    margin-bottom: 5px;
    border-radius: 50px;
}

.visual{
    display: block;
}

.slider-container{
    padding: 10px;
}

.slider{
    width: 200px;
}

.sample{
    background-color: rgb(208, 208, 208);
    border-radius: 30px;
    display: inline-block;
    padding: 20px;
    margin: auto;
}

.input-prompt{
    padding-bottom: 10px;
}

.input{
    text-align: center;
    padding: 30px;
    background-color: rgb(228, 228, 228);
    width: 60%;
    margin: auto;
    border-radius: 50px;
}

input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border-width: 3px;
    border-right-width: 0px;
    padding: 10px;
    border-color: rgb(56, 56, 56);
    border-radius: 50px 0px 0px 50px;
}

input[type=text]:focus{
    outline: solid rgb(120, 125, 130);
}

input[type=submit] {
    background-color: rgb(197, 206, 255);
    color: black;
    padding: 10px;
    width: 40%;
    border: solid black;
    border-width: 3px;
    border-radius: 0px 50px 50px 0px; 
}

input[type=submit]:hover {
    background-color: rgb(146, 159, 223);
}

input[type=submit]:active {
    background-color: rgb(75, 89, 161);
}

.list-container{
    position: relative;
    margin: 5px;
    margin-left: 5%;
    padding: 15px;
    background-color: rgb(228, 228, 228);
    border-radius: 50px;
    width: 90%;
}

.list-title{
    display: flex;
    align-items: center;
}

.label{
    margin-left: 3%;
    padding: 10px;
}

.instructions{
    margin-right: 3%;
    margin-left: auto;
    color: rgb(70, 70, 70);
}

.items{
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: wrap;
}

.item{
    text-align: center;
    display: inline-block;
    background-color: rgb(197, 206, 255);
    min-width: 5%;
    margin: 1%;
    padding: max(1%, 10px);
    border-radius: 50px;
    border: solid black;
    color: black;
}

.item:hover{
    background-color: rgb(146, 159, 223);
}

.item:active{
    background-color: rgb(75, 89, 161);
}

.done{
    text-align: center;
    display: inline-block;
    background-color: rgb(255, 250, 197);
    min-width: 5%;
    margin: 1%;
    padding: 1%;
    border-radius: 50px;
    border: solid black;
    color: black;
}

.done:hover{
    background-color: rgb(223, 221, 146);
}

.done:active{
    background-color: rgb(161, 154, 75);
}

.no-item{
    color:rgb(70, 70, 70);
    text-align: center;
    margin: auto;
}

.copy-paste-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 90%;
    margin: 5px;
    padding: 15px;
    background-color: rgb(228, 228, 228);
    margin-left: 5%;
}

.copy-paste-button{
    display: block;
    margin: auto;
    width: 95%;
    background-color: rgb(208, 208, 208);
    border-radius: 40px;
}

.copy-paste-button:hover{
    background-color: rgb(188, 188, 188);
}

.copy-paste-button:active{
    background-color: rgb(142, 142, 142);
}

.copy-paste{
    display: block;
    width: 80%;
    margin: auto;
    padding-bottom: 15px;
}

.copied{
    pointer-events: none;
    text-align: center;
    width: 20%;
    background-color: rgb(172, 172, 255);
    padding: 15px;
    position: absolute;
    border-radius: 50px;
    border: solid black;
    opacity: 1;
}

.fadeOut{
    pointer-events: none;
    text-align: center;
    width: 20%;
    background-color: rgb(172, 172, 255);
    padding: 15px;
    position: absolute;
    border-radius: 50px;
    border: solid black;
    opacity: 0;
    transition: opacity 2s linear;
}

.delete-container{
    text-align: center;
}

.delete{
    display: inline-block;
    padding: 15px;
    background-color: rgb(255, 166, 63);
    border-radius: 50px;
    border-width: 3px;
    border: solid black;
    color: black;
}

.delete:hover{
    background-color: rgb(216, 127, 25);
}

.delete:active{
    background-color: rgb(163, 94, 15);
}