@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(206, 206, 206);
    font-family: "Roboto";
}

.input{
    text-align: center;
    padding: 50px;
    background-color: rgb(203, 188, 167);
}

input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border-right-width: 0px;
    padding: 10px;
    border-color: rgb(56, 56, 56);
    border-radius: 50px 0px 0px 50px;
}

input[type=text]:focus{
    outline: solid rgb(120, 125, 130);
}

input[type=submit] {
    background-color: rgb(197, 206, 255);
    padding: 10px;
    border-color: rgb(56, 56, 56);
    border-radius: 0px 50px 50px 0px; 
}

input[type=submit]:hover {
    background-color: rgb(146, 159, 223);
}

input[type=submit]:active {
    background-color: rgb(75, 89, 161);
}

.list-container{
    margin-bottom: 50px;
}

.label{
    margin-left: 5%;
}

.items{
    width: 80%;
    margin: auto;
    display: flexbox;
    flex-flow: wrap;
    background-color: rgb(83, 83, 83);
}

.item{
    text-align: center;
    display: inline-block;
    background-color: aqua;
    min-width: 5%;
    margin: 1%;
    padding: 1%;
    border-radius: 50px;
}

.item:hover{
    background-color: rgb(0, 193, 193);
}

